* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.bbody {
    font-size: 15px;
    margin-left: 17%;
    margin-right: 17%;
    padding-top: 4%;
    background: linear-gradient(90deg, rgba(225,229,231,1) 0%, rgba(255,255,255,1) 20%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 80%, rgba(225,229,231,1) 100%);
}

.bbody ul {
    margin-left: 18%;
    margin-right: 16%;
}

.bbody p {
    margin-left: 16%;
    margin-right: 16%;
}

header {
background-image: url(Fallout-img.jpg);
background-repeat: no-repeat;
background-size: 130% auto;
margin-left: 17%;
margin-right: 17%;
height: 450px;
background-position: center;
}

header p {
    color: white;
    margin-left: 15%;
    padding-top: 5%;
}


h3 {
color:white;
transform: rotate(270deg);
position: absolute;
background-color: #D4AF37;
text-align: center;
font-size: 37px;
top: 240px;
left: 205px;
padding: 5px 10px 5px 10px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 75px;
    color: white;
    margin-left: 5%;
    padding-top: 7%;
}

h1 span {
    font-weight: 100;
}

.border {
border: 5px solid #D4AF37;
border-radius: 2px;
transform: rotate(270deg);
width: 360px;
position: absolute;
top: 685px;
left:125px;
}

h2 {
font-size: 22px;
text-align: center;
}

span {
    color:#E4B241;
    font-weight: 800;
    font-style: italic;
}

.pp {
    font-size: 35px;
    font-weight: 300;
    font-style: italic;
}

p {
    text-align: justify;
}

.thin {
    font-weight: 100;
}

li {
    padding-left: 30px;
}

ul {
    padding-left:0;
    margin-left:12px;
    text-align: justify;
    padding-bottom: 150px;
    line-height: 25px;
}

.center {
    text-align: center;
    font-weight: 300;
    position: absolute;
    top: 1046px;
    left: 880px;
    z-index: 1;
    font-style: italic;
}

.centerc {
    text-align: center;
    position: absolute;
    top: 1070px;
    left: 878px;
    z-index: 1;
    font-style: italic;
    font-size: 15px;
}

b {
    font-style: italic;
}

footer {
    margin-left: 17%;
    margin-right: 17%;
    background: linear-gradient(180deg, rgba(4,23,6,1) 0%, rgba(3,3,3,1) 35%, rgba(4,4,4,1) 100%);
    height: 180px;
}

.footright {
    color: black;
}

.footright img {
    position: absolute;
    top: 980px;
    left: 850px;
    width: 150px;
    z-index: 0;
}

.footright h2 {
    position: absolute;
    top: 1015px;
    left: 877px;
    z-index: 1;
}


.footleft {
    position: absolute;
    top: 975px;
    left: 280px;
}

.footleft img {
    width:40%;
}

h4 {
    color: white;
    font-family: 'Satisfy', cursive;
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}